.events {
  height: 100%;
}

.events__list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.events__item {
  padding: 45px 60px 40px 60px;
  width: 100%;
  min-height: 479px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &:nth-child(1) {
    background: url("../../img/event__img01.jpg") no-repeat center / cover;
  }

  &:nth-child(2) {
    background: url("../../img/event__img02.jpg") no-repeat center / cover;
  }

  &:nth-child(3) {
    background: url("../../img/event__img03.jpg") no-repeat center / cover;
  }
}

.events__title {
  font-family: $font2;
  font-weight: 900;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;

  &--white {
    color: #ffffff
  }
}

.events__link {
}