.header {
  position: relative;
}

.nav {
  padding-top: 60px;
  padding-bottom: 40px;
}

.nav__title {
  font-weight: 900;
  font-size: 35px;
  line-height: 47px;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 46px;
  font-family: $font2;
}

.header__menu-wrapper {
  @include wide-mobile {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    z-index: 10;
    transform: translateX(-100%);
    transition: all 0.3s;
  }
}

.nav__list {
  display: flex;
  flex-wrap: wrap;

  @include wide-mobile {
    flex-direction: column;
    padding-top: 76px;
  }

}

.nav__item {
  flex-grow: 1;

  @include wide-mobile {
    margin-bottom: 20px;
  }

  a {
    padding: 10px 15px;
    display: block;
    width: 100%;
    flex-grow: 1;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: center;

    @include wide-mobile {
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      padding: 19px 15px;
      text-align: left;
      background: #F9F9FC;
      position: relative;
    }

    &::after {
      content: "";
      width: 100%;
      height: 2px;
      display: block;
      background: #000000;
      transform: translateY(8px) scale(0);
      transition: all 0.1s;

      @include wide-mobile {
        width: 25px;
        height: 25px;
        background: url("../../img/icon__arrow.svg") no-repeat center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
      }
    }

    &:hover {
      &::after {
        transform: translateY(8px) scale(1);

        @include wide-mobile {
          transform: translateY(-50%);
        }
      }
    }
  }
}


.header__swiper {
  min-height: 464px;
  position: relative;
  width: 100%;

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    width: 100%;
    height: 100%;
  }
}

.header__slider-controls {
  width: 100%;
  font-size: 13px;
  line-height: 20px;
  padding: 0 107px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 115px;
  z-index: 5;
  color: #ffffff;

  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 1px;
    background: #ffffff;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.header__btn-wrapper {
  width: 50%;
  justify-content: space-between;
  display: flex;
}

.header__btn {
  position: relative;

  &::after {
    content: "";
    width: 64px;
    height: 1px;
    background: #ffffff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &--prev::after {
    left: calc(100% + 10px);
  }

  &--next::after {
    right: calc(100% + 10px);
  }
}

.header__arrow-btn {
  display: inline-block;
  width: 10px;
  height: 20px;

  svg {
    stroke: #ffffff;
  }

  &--prev {
    margin-right: 20px;
  }

  &--next {
    margin-left: 20px;
  }

  &--disable {
    svg {
      stroke: #ffffff3d;
    }
  }
}

.header__menu-btn {
  display: none;
  cursor: pointer;

  @include wide-mobile {
    position: absolute;
    top: 0;
    width: 50px;
    height: 50px;
    padding: 10px;

    &--open {
      left: 0;
      background: $color-accent;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        width: 30px;
        height: 3px;
        background: #ffffff;
        position: relative;

        &::before,
        &::after {
          position: absolute;
          content: "";
          left: 0;
          width: 100%;
          height: 3px;
          background: #ffffff;
        }

        &::before {
          top: -8px;
        }

        &::after {
          bottom: -8px;
        }
      }
    }

    &--close {
      display: block;
      right: 0;
      z-index: 15;

      &::after,
      &::before {
        position: absolute;
        content: "";
        width: 40px;
        height: 2px;
        background: rgba($color: #000000, $alpha: 0.3);
      }

      &::after {
        transform-origin: 0;
        transform: rotate(45deg);
      }

      &::before {
        transform-origin: 35px 15px;
        transform: rotate(-45deg);
      }

    }
  }
}

.js__show {
  display: block;
  transform: translateX(0);
}

;
