.news {
  padding-bottom: 35px;
}

.news__list {
  display: grid;
  grid-template-areas:
    "big small1"
    "big small2"
    "big small3";
  grid-template-columns: 470px 270px;
  grid-template-rows: 90px 90px 90px;
  column-gap: 30px;
  row-gap: 30px;
  min-height: 330px;
}

.news__item {
  display: flex;
  justify-content: space-between;

  &:nth-child(2) {
    grid-area: small1;
  }

  &:nth-child(3) {
    grid-area: small2;
  }

  &:nth-child(4) {
    grid-area: small3;
  }

  &--big {
    width: 100%;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    padding: 21px 23px;
    grid-area: big;

    .news__img-wrap {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 0;
    }

    .news__description {
      width: 100%;
      height: auto;
      display: block;

      h4 {
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 10px;
      }

      p {
        font-size: 14px;
        line-height: 21px;
      }
    }
  }

  &:nth-child(1) {
    .news__img-wrap {
      background: url("../img/news__img01.jpg") no-repeat center / cover;
    }
  }

  &:nth-child(2) {
    .news__img-wrap {
      background: url("../img/news__img02.jpg") no-repeat center / cover;
    }
  }

  &:nth-child(3) {
    .news__img-wrap {
      background: url("../img/news__img03.jpg") no-repeat center / cover;
    }
  }

  &:nth-child(4) {
    .news__img-wrap {
      background: url("../img/news__img04.jpg") no-repeat center / cover;
    }
  }
}

.news__img-wrap {
  width: 127px;
  height: 100%;
  background: red;
}

.news__description {
  width: 132px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 1;

  h4 {
    font-weight: 900;
    font-size: 14px;
    line-height: 19px;
    font-family: $font2;
  }

  p {
    font-size: 10px;
    line-height: 15px;
  }
}
