.news {
  padding-bottom: 35px;
}

.news__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 334px;
  justify-content: space-between;
  align-content: space-between;
}

.news__item {
  width: 270px;
  height: 91px;
  align-self: end;
  display: flex;
  justify-content: space-between;

  &--big {
    width: 470px;
    height: 334px;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    padding: 21px 23px;

    .news__img-wrap {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 0;
    }

    .news__description {
      width: 100%;
      height: auto;
      display: block;

      h4 {
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 10px;
      }

      p {
        font-size: 14px;
        line-height: 21px;
      }
    }
  }

  &:nth-child(1) {
    .news__img-wrap {
      background: url("../../img/news__img01.jpg") no-repeat center / cover;
    }
  }

  &:nth-child(2) {
    .news__img-wrap {
      background: url("../../img/news__img02.jpg") no-repeat center / cover;
    }
  }

  &:nth-child(3) {
    .news__img-wrap {
      background: url("../../img/news__img03.jpg") no-repeat center / cover;
    }
  }

  &:nth-child(4) {
    .news__img-wrap {
      background: url("../../img/news__img04.jpg") no-repeat center / cover;
    }
  }
}

.news__img-wrap {
  width: 127px;
  height: 100%;
  background: red;
}

.news__description {
  width: 132px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 1;

  h4 {
    font-weight: 900;
    font-size: 14px;
    line-height: 19px;
    font-family: $font2;
  }

  p {
    font-size: 10px;
    line-height: 15px;
  }
}
