<div class="card__slider-controls">
  <div class="card__btn-wrapper card__btn-wrapper--left">
    <a href="" class="card__btn card__btn--prev swiper--prev">Предыдущая</a>
    <a href="" class="card__arrow-btn card__arrow-btn--prev swiper--prev">
      <svg width="10" height="20" viewbox="0 0 10 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <use xlink:href="#arrow-btn-left"></use>
      </svg>
    </a>
  </div>
  <div class="card__btn-wrapper card__btn-wrapper--right">
    <a href="" class="card__arrow-btn card__arrow-btn--next swiper--next">
      <svg width="11" height="20" viewbox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <use xlink:href="#arrow-btn-right"></use>
      </svg>
    </a>
    <a href="" class="card__btn card__btn--next swiper--next">Следущая</a>
  </div>
</div>
